@charset "utf-8";
/* CSS Document */



html {
	font-size:15px;
	line-height:1.5rem;
	background:#282828;
	font-family:Verdana, sans-serif;
}

body {
	width:50%;
	margin:0 auto;
	margin-top:1rem;
	margin-bottom:1rem;
	background:#fff;
	color:#333;
	box-sizing:border-box;
	padding:1.5rem;
	box-shadow: 1rem 0 5rem 0 #131313, -1rem 0 5rem 0 #131313;
	border-radius:0.2rem;
	line-height:1.75rem;
}

body a {
	color:#11dd99;
	text-decoration:none;
}

body a:hover {
	text-decoration:underline;
}


#turkis {
	width:2rem;
	height:0.8rem;
	border:0.5px solid white;
	background:#11dd99;
	display:inline-block;
}

#grå1 {
	width:2rem;
	height:0.8rem;
	box-sizing:border-box;
	border:0.5px solid white;
	background:#282828;
	display:inline-block;
}
h1 {
	color:#282828;
	text-align:center;
	padding-bottom:3rem;
	border-bottom:0.2rem solid #282828;
}

h2 {
	margin:3rem 0 0 0;
	color:#11dd99;
}

h3 {
	color:#0c9c6c;
}