#grayBox {
	position:absolute;
	background-color:rgba(86, 86, 86, 0.7);
	padding:0;
	margin:0;
	top:0;
	left:0;
	z-index:8;
}

#textBox {
	top:0;
	position:relative;
	background-color:#323232;
	margin-bottom:1rem;
	height:7.5rem;
	padding:1rem;
	overflow:auto;
	color:#11dd99;
	border-radius:1rem;
	z-index:20;
}

.link {
	position:absolute;
	margin-bottom:0.5rem;
	padding:0;
	bottom:0;
	cursor:pointer;
}

.values {
	margin:0;
	padding:0;
}

a {
	cursor:pointer;
}