#grayBox {
	position:absolute;
	background-color:rgba(86, 86, 86, 0.7);
	padding:0;
	margin:0;
	top:0;
	left:0;
	z-index:8;
}

#textBox {
	position:absolute;
	background-color:#323232;
	width:20rem;
	padding:1rem;
	overflow:auto;
	left:30rem;
	top:15rem;
	color:#11dd99;
	border-radius:1rem;
	box-shadow: 10px 10px 5px rgba(86, 86, 86, 0.5);
	z-index:9;
}

#link {
	cursor:pointer;
}

.values {
	margin:0;
	padding:0;
}

a {
	cursor:pointer;
}